{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8" />
<title>zia-lang.org</title>
{{! Search Engine }}
<meta name="description" content="Zia - a self-programmable language" />
<meta name="image" content="https://zia-lang.org/static/images/zia.svg" />
{{! Schema.org for Google }}
<meta itemprop="name" content="Zia" />
<meta itemprop="description" content="Zia - a self-programmable language" />
<meta itemprop="image" content="https://zia-lang.org/static/images/zia.svg" />
{{! Open Graph general (Facebook, Pinterest & Google+) }}
<meta property="og:title" content="Zia" />
<meta property="og:description" content="Zia - a self-programmable language" />
<meta property="og:site_name" content="Zia" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
