{{! https://megatags.co/ ; meta "name" changed to "property" }}
{{! COMMON TAGS }}
<meta charset="utf-8">
<title>Kavik.cz</title>
{{! Search Engine }}
<meta name="description" content="Martin Kavík - freelance developer">
<meta name="image" content="https://kavik.cz/static/images/og_image.jpg">
{{! Schema.org for Google }}
<meta itemprop="name" content="Zia">
<meta itemprop="description" content="Zia - a self-programmable language">
<meta itemprop="image" content="https://kavik.cz/static/images/og_image.jpg">
{{! Open Graph general (Facebook, Pinterest & Google+) }}
<meta property="og:title" content="Zia">
<meta property="og:description" content="Zia - a self-programmable language">
<meta property="og:site_name" content="Zia">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
